{% macro datos(name, placeholder, type='text') %}
<p>
    <input name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder }}">
</p>
{% endmacro %}


{% macro campoNuevo(field, class="") %}
<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">
        {{ field.label }}
    </label>

    {{ field(class=class) }}

    {% if field.errors %}
        <ul class="text-red-500 text-xs mt-1">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endmacro %}